# Data Preprocessing Tools

### Libraries

In [22]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Import data set with pandas

In [2]:
dataset = pd.read_csv('C:/Users/Sebas/Desktop/DataSets/DataSetsPython/data1.csv')
x = dataset.iloc[:,:-1].values   #independent variables
y = dataset.iloc[:,-1].values    #Dependent variable
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

The "iloc" command stands for index location, and ":" idicates range. Range includes lower limit whereas excludes the upper limit. The "-1" stands for the last column, it is excluded in the x dataset and included exclusively in the Y dataset.

### Solution for Missing Data

In [3]:
missing_values = dataset.isnull().sum()
print(missing_values) #Number of missing values on each column

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [4]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean') #object/strategy to deal with missing values
imputer.fit(x[:,1:3])    #"fit" method use to apply the object to the columns specified
x[:,1:3]=imputer.transform(x[:,1:3]) #"transform" method to update our columns
print(x)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

Instead of deleting the rows containing missing values, we simply apply an object that replaces the missing value for the average value from each column.

### Categorical Data

In [5]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[0])],
                       remainder='passthrough')
x = np.array(ct.fit_transform(x))

Independent variable: First, we change the 3 countries into categorical data. The "country" column was transform into 3 new columns, each one takes the value 1 for its respective country. 
Usefull to directly transform a multi-categorical label.

In [6]:
print(x)

[[1.0 0.0 0.0 44.0 72000.0]
 [0.0 0.0 1.0 27.0 48000.0]
 [0.0 1.0 0.0 30.0 54000.0]
 [0.0 0.0 1.0 38.0 61000.0]
 [0.0 1.0 0.0 40.0 63777.77777777778]
 [1.0 0.0 0.0 35.0 58000.0]
 [0.0 0.0 1.0 38.77777777777778 52000.0]
 [1.0 0.0 0.0 48.0 79000.0]
 [0.0 1.0 0.0 50.0 83000.0]
 [1.0 0.0 0.0 37.0 67000.0]]

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y=le.fit_transform(y)

Dependent variable: We changed the "yes/no" column for a "1/0" column. 
Usefull to directly enncode a binary outcome from a two classes label.

In [8]:
print(y)

[0 1 0 0 1 1 0 1 0 1]

Lets take another example

In [9]:
# Importing the necessary libraries
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
import pandas as pd 
import numpy as np 
# Load the dataset
titanic_dataset = pd.read_csv('C:/Users/Sebas/Desktop/DataSets/DataSetsPython/titanic.csv')
titanic_dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [10]:
# Identify the categorical data
categorical_features = ['Sex', 'Embarked', 'Pclass']
# Implement an instance of the ColumnTransformer class
ct = ColumnTransformer( transformers=[ ('encoder', OneHotEncoder(), categorical_features) ],remainder='passthrough' )
# Apply the fit_transform method on the instance of ColumnTransformer
X = ct.fit_transform(titanic_dataset)
# Convert the output into a NumPy array
X = np.array(X)
# Use LabelEncoder to encode binary categorical data
le = LabelEncoder()
Y = le.fit_transform(titanic_dataset['Survived'])
# Print the updated matrix of features and the dependent variable vector
print(X)

[[0.0 1.0 0.0 ... 'A/5 21171' 7.25 nan]
 [1.0 0.0 1.0 ... 'PC 17599' 71.2833 'C85']
 [1.0 0.0 0.0 ... 'STON/O2. 3101282' 7.925 nan]
 ...
 [1.0 0.0 0.0 ... 'W./C. 6607' 23.45 nan]
 [0.0 1.0 1.0 ... '111369' 30.0 'C148']
 [0.0 1.0 0.0 ... '370376' 7.75 nan]]

In [11]:
print(Y)

[0 1 1 1 0 0 0 0 1 1 1 1 0 0 0 1 0 1 0 1 0 1 1 1 0 1 0 0 1 0 0 1 1 0 0 0 1
 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 1 1 0 1 1 0 1 0 0 1 0 0 0 1 1 0 1 0 0 0 0 0
 1 0 0 0 1 1 0 1 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 1 0
 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1
 0 1 1 0 0 1 0 1 1 1 1 0 0 1 0 0 0 0 0 1 0 0 1 1 1 0 1 0 0 0 1 1 0 1 0 1 0
 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 1 0 0 0 0 0 1 1 1 0 1 1 0 1 1 0 0 0 1 0 0 0 1 0 0 1 0 1 1 1 1 0 0 0 0
 0 0 1 1 1 1 0 1 0 1 1 1 0 1 1 1 0 0 0 1 1 0 1 1 0 0 1 1 0 1 0 1 1 1 1 0 0
 0 1 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 1 1 1 1
 1 0 0 0 0 1 1 0 0 0 1 1 0 1 0 0 0 1 0 1 1 1 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0
 1 0 0 0 0 1 0 1 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 1 1 1 0 0 1 0 1 0 0 1 0 0 1
 1 1 1 1 1 1 0 0 0 1 0 1 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 1 0
 0 0 1 1 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 1 0 1 1 0 1 1 0 0 1 0
 1 0 1 0 0 1 0 0 1 0 0 0 1 0 0 1 0 1 0 1 0 1 1 0 0 1 0 0 1 1 0 1 1 0 0 1 1
 0 1 0 1 1 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0 0 1 1 0 1 1 1 0 0 0 1 0 1 0 0 0 1
 0 0 0 0 1 0 0 1 1 0 0 0 1 0 0 1 1 1 0 0 1 0 0 1 0 0 1 0 0 1 1 0 0 0 0 1 0
 0 1 0 1 0 0 1 0 0 0 0 0 1 0 1 1 1 0 1 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 0 1 0
 0 0 0 1 1 0 0 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 0 1 1 0
 0 0 0 1 1 1 1 1 0 1 0 0 0 1 1 0 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0 0 0 0 1 0 0
 1 0 1 0 1 0 0 1 0 0 1 1 0 0 1 1 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0
 1 0 1 1 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 1 0 0 0 1 1 1 1 0 0 0 0 1 0 0 0 0
 0 0 0 0 0 0 1 1 0 1 0 0 0 1 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 0 0 0 0 0 1 0
 0 0 1 0 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 0 0 0 1
 0 1 0]

# Splitting Data

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)
X_train, X_test, y_train, y_test

(array([[0.0, 0.0, 1.0, 38.77777777777778, 52000.0],
        [0.0, 1.0, 0.0, 40.0, 63777.77777777778],
        [1.0, 0.0, 0.0, 44.0, 72000.0],
        [0.0, 0.0, 1.0, 38.0, 61000.0],
        [0.0, 0.0, 1.0, 27.0, 48000.0],
        [1.0, 0.0, 0.0, 48.0, 79000.0],
        [0.0, 1.0, 0.0, 50.0, 83000.0],
        [1.0, 0.0, 0.0, 35.0, 58000.0]], dtype=object),
 array([[0.0, 1.0, 0.0, 30.0, 54000.0],
        [1.0, 0.0, 0.0, 37.0, 67000.0]], dtype=object),
 array([0, 1, 0, 0, 1, 1, 0, 1]),
 array([0, 1]))

In [13]:
print(X_train)

[[0.0 0.0 1.0 38.77777777777778 52000.0]
 [0.0 1.0 0.0 40.0 63777.77777777778]
 [1.0 0.0 0.0 44.0 72000.0]
 [0.0 0.0 1.0 38.0 61000.0]
 [0.0 0.0 1.0 27.0 48000.0]
 [1.0 0.0 0.0 48.0 79000.0]
 [0.0 1.0 0.0 50.0 83000.0]
 [1.0 0.0 0.0 35.0 58000.0]]

In [14]:
print(X_test)

[[0.0 1.0 0.0 30.0 54000.0]
 [1.0 0.0 0.0 37.0 67000.0]]

In [15]:
print(y_train)

[0 1 0 0 1 1 0 1]

In [16]:
print(y_test)

[0 1]

# Feature Scalling

In [17]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train[:, 3:] = sc.fit_transform(X_train[:, 3:])
X_test[:, 3:] = sc.transform(X_test[:, 3:])

We used the same scaler from the feature training set for the feature test set. We can't make a new one, otherwise the model would be different.

Also, it is worth mentioning that we didn't apply feature scaling to the dependent variable because it already had the values 0 or 1.

In [18]:
print(X_train)

[[0.0 0.0 1.0 -0.19159184384578545 -1.0781259408412425]
 [0.0 1.0 0.0 -0.014117293757057777 -0.07013167641635372]
 [1.0 0.0 0.0 0.566708506533324 0.633562432710455]
 [0.0 0.0 1.0 -0.30453019390224867 -0.30786617274297867]
 [0.0 0.0 1.0 -1.9018011447007988 -1.420463615551582]
 [1.0 0.0 0.0 1.1475343068237058 1.232653363453549]
 [0.0 1.0 0.0 1.4379472069688968 1.5749910381638885]
 [1.0 0.0 0.0 -0.7401495441200351 -0.5646194287757332]]

In [19]:
print(X_test)

[[0.0 1.0 0.0 -1.4661817944830124 -0.9069571034860727]
 [1.0 0.0 0.0 -0.44973664397484414 0.2056403393225306]]

Another example

In [20]:
wine_dataset = pd.read_csv('C:/Users/Sebas/Desktop/DataSets/DataSetsPython/wine.csv') # watch out for delimiters (delimiter=';')
# Separate features and target
wx = wine_dataset.iloc[:,:-1].values   
wy = wine_dataset.iloc[:,-1].values   

# Split the dataset into an 80-20 training-test set
wX_train, wX_test, wy_train, wy_test = train_test_split(wx, wy, test_size=0.2, random_state=42)

wine_dataset

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,3
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,3
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,3
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,3
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,3

In [21]:
# Create an instance of the StandardScaler class
sc = StandardScaler()

# Fit the StandardScaler on the features from the training set and transform it
wX_train = sc.fit_transform(wX_train)

# Apply the transform to the test set
wX_test = sc.transform(wX_test)

# Print the scaled training and test datasets
print(wX_train)
print(wX_test)

[[ 1.66529275 -0.60840587  1.21896194 ... -1.65632857 -0.87940904
  -0.24860607]
 [-0.54952506  2.7515415   1.00331502 ... -0.58463272 -1.25462095
  -0.72992237]
 [-0.74531007 -1.14354109 -0.93750727 ...  0.35845962  0.2462267
  -0.24860607]
 ...
 [ 1.714239   -0.44172441  0.06884503 ...  1.04434496  0.56585166
   2.69572196]
 [-0.35374006 -0.7399965  -0.36244882 ...  0.01551695 -0.74044166
  -0.79631083]
 [-0.78201975  0.06709269  0.35637426 ... -0.67036839  1.09392769
  -0.98551793]]
[[ 8.08733375e-01  6.37318741e-01  7.15785791e-01 -1.24128036e+00
   1.06556722e+00  6.46636689e-01  1.02724237e+00 -1.54932094e+00
   8.93605295e-02  1.82522280e-02  1.55169482e-02  1.06613421e+00
   3.65487151e-01]
 [ 1.50621744e+00  1.46195334e+00  2.84491948e-01 -1.66513218e-01
   7.23080697e-01  8.82684015e-01  6.47480801e-01 -5.32234717e-01
  -6.15594759e-01  7.85270273e-02 -3.70293555e-01  1.02444400e+00
   1.14555151e+00]
 [-6.00625639e-02  3.82910194e-01  1.21896194e+00  4.43489751e-01
  -3.04378866e-01 -1.17879597e+00 -1.50117016e+00  1.26722552e+00
  -1.47529633e+00 -1.97014913e-01 -7.98971892e-01 -3.93023224e-01
  -4.47771435e-01]
 [ 9.18862438e-01 -7.66314624e-01  1.21896194e+00  8.79206158e-01
   3.81076551e-02  1.11873134e+00  1.24710433e+00 -6.10472119e-01
   1.32733079e+00  2.76572797e-01  1.00147712e+00  1.62846276e-01
   1.82603318e+00]
 [-7.45310065e-01 -1.05581401e+00 -1.58444804e+00  3.68211048e-02
  -1.53733034e+00 -2.81816127e-01 -2.11135044e-03 -7.66946921e-01
  -9.76669419e-01 -1.62572170e-01  7.01402287e-01  1.23289506e+00
  -7.46519486e-01]
 [ 1.61634650e+00 -3.97860866e-01  1.29084425e+00  1.53012147e-01
   1.33955643e+00  8.04001573e-01  1.13717335e+00 -2.97522513e-01
   6.22375504e-01  4.91839937e-01  4.87063119e-01  7.94658511e-02
   1.80943607e+00]
 [-1.19806288e+00  9.26818123e-01 -1.29691881e+00 -1.37465458e-01
  -9.20854603e-01 -4.54917499e-01 -3.61885465e-01  1.54270932e-02
   4.50435190e-01 -1.62638873e+00 -1.13086553e-01  6.35335351e-01
  -5.67270655e-01]
 [ 5.15055875e-01  1.34790813e+00  4.28256562e-01  1.02444496e+00
   1.06604959e-01 -7.69647267e-01 -1.25132703e+00  4.84851502e-01
  -3.40490256e-01  9.65427646e-01 -1.09904673e+00 -1.43527854e+00
   5.01419852e-02]
 [-1.67528882e+00 -8.97905253e-01  1.21896194e+00  1.53012147e-01
  -4.41373474e-01  7.09582643e-01  9.17311387e-01 -6.10472119e-01
   1.51646514e+00 -1.03655676e+00  1.55169482e-02  9.27166839e-01
  -1.82217611e-01]
 [ 4.66109624e-01  1.63592480e-01 -3.89784341e-02  1.53012147e-01
  -7.83859995e-01 -1.39910680e+00 -1.50117016e+00  1.54270932e-02
  -1.66443068e+00  2.33519368e-01 -1.09904673e+00 -1.70675424e-01
   1.49724669e-01]
 [ 6.37421500e-01 -4.94360660e-01  8.95491559e-01  1.53012147e-01
  -3.04378866e-01  3.79116386e-01  6.07505900e-01 -6.88709520e-01
   8.93605295e-02 -6.61991936e-01  7.01402287e-01  1.70538414e+00
   3.65487151e-01]
 [ 6.37421500e-01  6.54864158e-01  9.31432712e-01  1.31492256e+00
   1.54504835e+00 -1.39910680e+00 -4.31841543e-01 -1.15813393e+00
  -6.15594759e-01  1.52512221e+00 -1.57059290e+00 -1.79659371e+00
  -7.79713714e-01]
 [ 5.27292437e-01  1.28649917e+00 -8.65624966e-01 -1.95560979e-01
  -7.15362691e-01  2.53224479e-01  6.77461977e-01 -7.66946921e-01
  -2.20132036e-01 -3.34785882e-01 -1.98822220e-01  5.65851664e-01
   9.96177483e-01]
 [-2.55847564e-01  9.26818123e-01 -1.36880112e+00 -1.00889827e+00
  -1.40033573e+00 -1.03716757e+00 -7.51640756e-01  4.84851502e-01
  -1.33774408e+00 -7.13656050e-01 -1.09904673e+00 -6.57061237e-01
  -1.20459983e+00]
 [ 7.96496813e-01 -4.94360660e-01  1.21896194e+00 -6.60325146e-01
   7.91578001e-01  8.82684015e-01  9.07317662e-01 -5.32234717e-01
  -2.54520099e-01  9.65427646e-01  1.38728763e+00  3.99090814e-01
   1.90901875e+00]
 [-5.61761627e-01  4.95472693e-02 -6.85919198e-01  4.43489751e-01
  -8.52357299e-01  4.10589363e-01  2.67719236e-01 -8.45184323e-01
  -6.67176853e-01 -1.31640404e+00 -2.41690054e-01  2.60123439e-01
  -1.36061270e+00]
 [-1.92002007e+00 -1.43304047e+00  5.00138869e-01  4.43489751e-01
  -8.52357299e-01  3.00433944e-01  7.88237497e-03  4.06614101e-01
  -2.88908162e-01 -8.51427020e-01  6.15666620e-01 -3.93023224e-01
  -9.98795619e-01]
 [-1.10017038e+00 -1.09090484e+00  5.36080023e-01  1.31492256e+00
  -1.53733034e+00 -4.54917499e-01 -4.21847818e-01  2.50139298e-01
  -3.57684288e-01 -1.23029719e+00  1.51589113e+00  1.76743014e-01
  -3.48188751e-01]
 [ 1.07793775e+00 -8.97905253e-01 -3.26507663e-01 -1.00889827e+00
  -1.67384257e-01  1.08725836e+00  1.14716707e+00 -1.15813393e+00
   4.16047127e-01  9.30984904e-01  2.29856117e-01  1.33017223e+00
   1.02937171e+00]
 [-1.10017038e+00 -8.62814418e-01  5.00138869e-01  8.79206158e-01
  -1.12634652e+00  4.26325851e-01  2.87706686e-01  4.84851502e-01
  -9.76669419e-01 -9.28923190e-01 -1.13086553e-01  8.29889676e-01
  -1.16144734e+00]
 [ 1.48174431e+00 -6.87360248e-01  4.28256562e-01 -8.63659469e-01
   5.17588784e-01  1.59082599e+00  1.92667765e+00 -3.75759914e-01
   4.33241158e-01  1.56817564e+00  1.17294846e+00  3.15710389e-01
   3.13720519e+00]
 [ 1.60195561e-01 -1.19617734e+00 -2.37515342e+00 -1.29937588e+00
  -1.53733034e+00  1.08725836e+00  1.17714825e+00 -8.45184323e-01
   1.15539048e+00  1.04359084e-01  7.01402287e-01  8.15992939e-01
  -7.73074869e-01]
 [-7.94256315e-01 -1.11722297e+00 -2.90566509e-01 -1.00889827e+00
   3.81076551e-02 -3.76235057e-01 -9.11540363e-01  2.04959953e+00
  -2.05989340e+00 -7.69625506e-01  1.25868412e+00 -1.28241442e+00
  -1.82217611e-01]
 [ 5.15055875e-01  1.95322502e+00  1.79402040e+00  1.60540017e+00
   7.91578001e-01 -4.86390476e-01 -1.04145879e+00 -7.66946921e-01
  -8.56311199e-01  1.48206878e+00 -1.22765023e+00 -9.34995987e-01
  -3.48188751e-01]
 [-2.55847564e-01  1.44564352e-02 -2.90566509e-01  7.77334435e-03
  -9.89351907e-01 -1.41484329e+00 -1.49117644e+00  8.76038509e-01
  -1.66443068e+00  2.08481635e+00 -1.65632857e+00 -1.33800137e+00
  -8.79296398e-01]
 [ 9.80045250e-01  3.39046651e-01 -2.18684202e-01  7.33967356e-01
  -7.15362691e-01 -1.47778925e+00 -1.32128310e+00  3.28376699e-01
  -9.93863450e-01  1.94704581e+00 -1.09904673e+00 -1.26851769e+00
  -3.97980093e-01]
 [-6.84127253e-01 -6.69814831e-01 -6.14036891e-01  8.79206158e-01
   5.17588784e-01 -4.54917499e-01  8.78321783e-02 -2.19285111e-01
   3.39037239e-03 -1.29057199e+00  4.44195285e-01  5.10264714e-01
  -1.29422425e+00]
 [-7.45310065e-01 -1.02072317e+00  7.15785791e-01 -3.98895302e-01
  -1.67384257e-01  2.06015014e-01  6.47480801e-01  1.54270932e-02
   8.11509850e-01 -1.97014913e-01  1.00147712e+00 -4.06919962e-01
  -1.88856456e-01]
 [-1.10017038e+00 -4.76815243e-01 -1.46801895e-01 -2.82704260e-01
  -1.33183843e+00 -1.08437704e+00 -5.01797621e-01  1.18898812e+00
   5.49724667e-02 -1.14419033e+00  5.29930952e-01 -4.48610174e-01
  -8.46102170e-01]
 [ 7.10840875e-01 -5.64542328e-01  3.56374255e-01  2.98250949e-01
   1.06556722e+00  1.05578539e+00  7.77399232e-01 -1.31460873e+00
   1.44768901e+00  5.13366651e-01  1.01252616e-01  6.07541876e-01
   1.27832842e+00]
 [ 1.27372275e+00 -6.08405871e-01 -5.42154584e-01 -1.00889827e+00
  -3.04378866e-01  5.67954247e-01  3.27681588e-01 -8.45184323e-01
   6.39569535e-01 -1.53961484e-01  3.58459618e-01  1.38575918e+00
   9.96177483e-01]
 [-7.45310065e-01 -6.52269414e-01 -2.18684202e-01  1.46016137e+00
  -8.52357299e-01 -1.08714754e-01  4.47606293e-01  2.50139298e-01
   5.02017284e-01 -1.26473993e+00 -2.84557887e-01  2.60123439e-01
  -1.30418252e+00]
 [ 2.21378374e-01  1.04963604e+00 -7.57801505e-01  4.43489751e-01
   1.06604959e-01 -1.24174192e+00 -1.45120153e+00  4.84851502e-01
  -5.29624602e-01 -4.55335481e-01 -1.52772506e+00 -1.26851769e+00
   3.15695809e-01]
 [ 7.35314000e-01 -6.25951288e-01 -3.03728058e-03 -1.08417697e-01
   3.80594176e-01  8.98420503e-01  1.18714197e+00 -1.15813393e+00
   5.87987441e-01  7.93213934e-01  5.72798786e-01  3.99090814e-01
   2.58950043e+00]
 [ 9.43335563e-01 -5.64542328e-01  1.76668487e-01 -1.00889827e+00
  -7.83859995e-01  4.89271805e-01  7.57411781e-01 -6.10472119e-01
   3.47271001e-01  2.33519368e-01  8.30005788e-01  4.26884289e-01
   1.94221298e+00]
 [ 1.10241088e+00 -4.24178992e-01  8.23609251e-01 -1.29937588e+00
   3.81076551e-02  1.51214355e+00  1.55690981e+00 -1.54932094e+00
   1.58136655e-01  1.60328541e-01 -3.27425721e-01  1.34406896e+00
   1.19534285e+00]]